@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*
 {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

body
{ 
    background: rgb(221, 184, 125);
    background-image: url('https://wallpaper.dog/large/20400569.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav
{ 
    width: 100%;
    height: 75px;
    background-color: rgb(200, 199, 199);
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
}

nav .logo
{ 
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav .logo p
{ 
    float: left;
    color: rgb(91, 90, 90);
    text-transform: uppercase;
}

nav ul 
{ 
    float: right;
}

nav ul li
{ 
    display: inline-block;
    list-style: none;
}

nav ul li a
{ 
    color: #000;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    padding: 0px 32px;
}

a
{ 
    position: relative;
}
a::after
{ 
    content: "";
    position: absolute;
    background-color: rgb(123, 125, 129);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover::after
{ 
    width: 100%;
}

a:active
{ 
    color: #817e7e;
}

span{ 
    color: #817e7e;
}
